header {
    /* background:lightblue; */
    width:calc(100% - 60px);
    height:100px;
    margin:0 auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items:center;
}
header .left {}
header .left h1 {
    /* background: yellow; */
    width:213px;
}
header .left h1 a {}
header .left h1 a img {
    width:100%;
}
/*-------------------------------------------right------------------------*/
header .right {
    /* background:pink; */
    width:652px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;

}
header .right .lang {
    font-size:20px;
}
/*-----------------------------search 양식 ----------------------------------*/
header .right #searchFrm {}
header .right #searchFrm fieldset {
    background:white;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:5px 10px; 
    border:1px solid black;
    border-radius: 10px;
}
header .right #searchFrm fieldset #search {
    color:#aaa;
    font-size:16px;
    background:none;
}
header .right #searchFrm fieldset .searchBtn {
    background:none;
    width:31px; height:31px;
}
header .right #searchFrm fieldset .searchBtn img {width:100%;}
/*------------------------------------icon ------------------------------------*/
header .right #login {width:42px; height:42px;}
header .right #login img {width:100%;}
header .right #cart {width:42px; height:42px;}
header .right #cart img {width:100%;}
header .right #menu {width:42px; height:42px;}
header .right #menu img {width:100%; }
/* ---------------------------------open-nav---------------------------------- */
header #open_nav {
    position:fixed; left:0; top:0; z-index:999;
    width:100%; height:100vh; background:#f1f1f1;
    overflow-y:auto;
    /* 웹브라우저 y축 기준으로 내용이 넘칠 경우 스크롤을 표시하고 
        넘치지 않다면 스크롤을 숨긴다. */
}
/*-------------------close 버튼-------------------------------------------------*/
header #open_nav #nav_close {
    position:absolute; right:90px; top:90px; 
    width:40px; height:40px;
    z-index:999;
}
header #open_nav #nav_close img {width:100%;}
/* swiper-slide nav-adver */
header #open_nav #nav_adver {
    max-width:800px; margin:20px auto; text-align: center;
}
header #open_nav #nav_adver .swiper-slide a {line-height:24px;}
header #open_nav #nav_adver .swiper-button-prev,
header #open_nav #nav_adver .swiper-button-next {top:20px; width:24px; height:24px;}
header #open_nav #nav_adver .swiper-button-prev {
    background:url(../images/adver_prev.png);
}
header #open_nav #nav_adver .swiper-button-next {
    background:url(../images/adver_next.png);
}
header #open_nav #nav_adver .swiper-button-prev::after,
header #open_nav #nav_adver .swiper-button-next::after {display:none;}
/* open-nav nav */
header #open_nav nav {
    display:flex; flex-flow:column nowrap;
    text-align:center; padding-top:25px;
}
header #open_nav nav a {
    font-size:3.157rem; letter-spacing: -0.02em;
    line-height:110px; font-weight:700;
    position:relative;
}
header #open_nav nav a:hover {color: #2559DF;}
header #open_nav nav a:hover::after {
    transform:translateX(-50%) scaleX(1);
}
header #open_nav nav a::after {
    content:''; display:block;
    width:80%; height:1px;
    border-bottom:2px dotted #2559DF;
    position:absolute; bottom:-3px; left:50%;
    transform:translateX(-50%) scaleX(0);
    transition:all 0.5s;
}
/*-----------------------------footer---------------------------------*/
footer {
    width:calc(100% -60px);
    /* background:yellow; */
}
footer .f_menu {
    /* background:pink; */
    display:flex;
    flex-flow:row nowrap;
    margin: 0 auto;
    padding:50px 0 0 90px;
}
footer .f_menu .service {
    /* background:lightcoral; */
    padding-bottom:20px;
}
footer .f_menu .service dt {
    font-size: 1.333rem;
    font-weight:600;
    margin-bottom:30px;
}
footer .f_menu .service dd {

}
footer .f_menu .service dd a {
    font-style: 1rem;
    line-height: 30px;
}

footer .f_menu .law {
    /* background:lightgray; */
    padding-bottom:20px;
    margin:0 180px;
}
footer .f_menu .law dt {
    font-size: 1.333rem;
    font-weight:600;
    margin-bottom:30px;
}
footer .f_menu .law dd {
    font-style: 1rem;
    line-height: 30px;
}
footer .f_menu .law dd a {}

footer .f_menu .sns {
    /* background:lightblue; */
    padding-bottom:20px;
}
footer .f_menu .sns dt {
    font-size: 1.333rem;
    font-weight:600;
    margin-bottom:30px;
}
footer .f_menu .sns dd {
    font-style: 1rem;
    line-height: 30px;
}
footer .f_menu .sns dd a {}

footer .f_copy {
    /* background:lightgreen; */
    padding:50px 0;
    display:flex;
    flex-flow:row nowrap;
}
footer .f_copy .logo {
    /* background:lightsalmon; */
    width:447px; height:85px;
    margin:0 50px 100px 90px;
    /* display:flex;
    flex-flow:row nowrap;
    align-items:center; */
}
footer .f_copy .logo img {
    width:100%;
    padding-top:10px;
}
footer .f_copy address {
    /* background:lightyellow; */
    line-height: 30px;
    font-size:1rem;
}
footer .f_copy address a {
    text-decoration:underline;
}